
.selected { background-color: #ddd; }
.primary { border: 2px solid #d99; }
#files .pri { font-size: 8pt; float: right; display: none; color: #d99; padding-right: 2px; }
#files .selected .pri { display: block;}
#files .selected.primary .pri { display: none;}

#dge-pc { height: 250px; }

#grid { height: 300px; }
#grid-info { font-size: 9pt; }
.tab-search { font-size: 9pt; float: right; margin-top: -10px; }
a#csv-download { font-size: 9pt; float: right; margin: -7px 30px 0 0; }

.conditions { display: none; }
.config { display: none; }

.slick-row { font-size: 9pt; }
.slick-row:hover {
  font-weight: bold;
  color: #069;
}

.slick-row .counts { margin-left: 10px; color: #999;}


div.right { float: right; }
div.filter { font-size: 8pt; border: 1px solid #aaa; border-radius: 5px; background-color: #eee; padding: 0 3px; margin-top: 15px}
.filter label, .filter input, .filter select { display: inline-block; font-size: 8pt; }
.filter label { width: 70px; text-align: right; }
.filter input { width: 50px; }
#fdrSlider, #fcSlider { display: inline-block; width: 50px; margin: 0 10px; font-size: 8pt}
#fc-relative { width: 115px; height: auto; }
.filter input.error { background-color: #fbb; }

.ec-group { display: none; }

.pos    { background-color: #dfd; }
.neg  { background-color: #fdd; }

#expression { position: relative; }
#loading { position: absolute; top: 100px; left: 250px; }

#gene-info { font-size: 9pt; height: 5em;}
#gene-info .lbl { width: 100px; font-weight: bold; display: inline-block;}

#heatmap-info { font-size: 9pt; height: 2em; }
#heatmap-info .lbl { margin-left: 20px; font-weight: bold; display: inline-block;}

#heatmap .extent {
  fill: #990;
  fill-opacity: .2;
  stroke: #fff;
}

.ui-dialog .ui-state-hover { border: 0; }

